<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
	<connectionStrings>
  <add name="MyDbDate" connectionString="Data Source=ELVISJ;Initial Catalog=songsystem;Integrated Security=True;" />
  <add name="Presentación.Properties.Settings.songsystemConnectionString"
   connectionString="Data Source=ELVISJ;Initial Catalog=songsystem;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>